@model MIM.Models.Title
@{
    Layout = null;
    ViewBag.Title = LanguageHelper.GetString("Model.Titles");
    string modal_size = "modal"; // "modal-sm" "modal", "modal-lg" "modal-xl"
}
<div class="modal" id="title-modal">
    <div class="modal-dialog modal-dialog-centered @modal_size">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@LanguageHelper.GetString("Title.ModalTitle.Delete")</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div><div class="container"></div>
            <div style="padding-bottom: 0px;" class="modal-body">
                <dl class="dl-horizontal">

                    <dt>
                        @LanguageHelper.GetString("Title.Name")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.name)
                    </dd>

                    <dt>
                        @LanguageHelper.GetString("Title.Description")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.description)
                    </dd>

                </dl>
                @using (Html.BeginForm("Delete", "titles", FormMethod.Post, new { id = "titledelete" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        @Html.HiddenFor(modelItem => modelItem.titleID)
                        <input type="submit" value="@LanguageHelper.GetString("Modal.Button.Delete")" class="btn btn-danger col-2" />
                        <input type="cancel" id="title-modal-cancel" value="@LanguageHelper.GetString("Modal.Button.Cancel")" class="btn btn-primary col-2" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $("#title-modal-cancel").click(function (event) { $("#title-modal").modal('hide'); })
</script>
<script>
    $("#titledelete").submit(function (event) {
        event.preventDefault();
        $("#title-modal").modal('hide');
        var $form = $(this),
            url = $form.attr('action');

        var posting = $.post(url, {
            titleID: $('#titleID').val(),
            __RequestVerificationToken: $("input[name=__RequestVerificationToken]").val(),
        });

        posting.done(function (data) {
            $.ajax({
                url: '/titles/Table',
                method: 'GET',
                success: function (data) {
                    $('#dt-titles_table').html(data)
                }
            });
        });

        posting.fail(function () {
            $('#result').text('failed');
        });
</script>
