@model IPagedList<MIM.Models.Title>
@using PagedList;
@using PagedList.Mvc;
@using System.Web.Security;
@{
    Layout = null;
}
<
<div id="titles_list">
    <div class="table-responsive" style="overflow: inherit;">
        <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
            <thead>
                <tr class="text-center">
                    <th>
                        id
                    </th>
                    <th>
                        @LanguageHelper.GetString("Title.Name")
                    </th>
                    <th>
                        @LanguageHelper.GetString("Title.Description")
                    </th>
                    <th>
                        <div class="btn-toolbar-right mr-2" role="toolbar">
                            @LanguageHelper.GetString("Table.Action")
                        </div>
                    </th>
                </tr>
                <tr class="text-center">
                    <th style="width: 5%">@Html.TextBox("id", "", new { @class = "form-control" })</th>
                    <th style="width: 40%">@Html.TextBox("name", "", new { @class = "form-control" })</th>
                    <th style="width: 40%">@Html.TextBox("description", "", new { @class = "form-control" })</th>                    
                    <th style="width: 15%">
                        <div class="btn-toolbar-right" role="toolbar">
                            <div class="btn-group mr-2" role="group">
                                <span data-controller="common" data-action="click->common#clear" class="btn btn-light-primary">@LanguageHelper.GetString("Table.SearchBar.Search")</span>
                                <span data-controller="common" data-action="click->common#clear" class="btn btn-light-warning">@LanguageHelper.GetString("Table.SearchBar.Clear")</span>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td onclick="EditModal(' @Html.DisplayFor(modelItem => item.titleID) ')">
                            @Html.DisplayFor(modelItem => item.titleID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td style="width: 15%">
                            @Ajax.RawActionLink("<span><i class='flaticon2-expand'></i></span>", "Show", "Titles", new { id = item.titleID }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "modal-area", OnSuccess = "$('#title-modal').modal('show')" }, new { @class = "btn btn-outline-secondary btn-icon" })
                            @Ajax.RawActionLink("<span><i class='flaticon2-edit'></i></span>", "Edit", "Titles", new { id = item.titleID }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "modal-area", OnSuccess = "$('#title-modal').modal('show')" }, new { @class = "btn btn-outline-secondary btn-icon" })
                            @Ajax.RawActionLink("<span><i class='flaticon2-rubbish-bin'></i></span>", "Delete", "Titles", new { id = item.titleID }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "modal-area", OnSuccess = "$('#title-modal').modal('show')" }, new { @class = "btn btn-outline-secondary btn-icon delRow" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{ Html.RenderPartial("Pagination", Model); }

    </div>
</div>

<script>
    function GetPage(page) {
        $.ajax({
            url: '/Titles/Table?page=' + page,
            method: 'GET',
            success: function (data) {
                $('#dt-titles_table').html(data)
            },
            error: function (data) {
                $('#dt-titles_table').html("table error")
            },
        });
    }

</script>

