@model MIM.Models.Organization

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parentID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.organizationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
