@model MIM.Models.Group
@{ Layout = null;
    ViewBag.Title = LanguageHelper.GetString("Model.Groups");
    string modal_size = "modal"; // "modal-sm" "modal", "modal-lg" "modal-xl"
}
@if (ViewBag.grant)
{
    <div class="modal" id="group-modal">
        <div class="modal-dialog modal-dialog-centered @modal_size">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@LanguageHelper.GetString("Group.ModalTitle.Delete")</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div><div class="container"></div>
                <div style="padding-bottom: 0px;" class="modal-body">
                    <center>
                        <div class="row align-items-center">
                            <div style="width:50%">
                                @Html.LabelFor(model => model.Name, LanguageHelper.GetString("Group.Name"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                                <hr style="width:50%" />
                                @Html.DisplayFor(model => model.Name)
                            </div>
                            <div style="width:50%">
                                @Html.LabelFor(model => model.Description, LanguageHelper.GetString("Group.Description"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                                <hr style="width:50%" />
                                @Html.DisplayFor(model => model.Description)
                            </div>
                        </div>
                        <br />
                    </center>
                    @using (Ajax.BeginForm("Delete", "Groups", new AjaxOptions { HttpMethod = "POST", OnSuccess = "GetTable()", OnFailure = "toastr.error('" + LanguageHelper.GetString("Model.Toastr.DeleteError") + "', '" + LanguageHelper.GetString("Model.Group") + "')" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            @Html.HiddenFor(modelItem => modelItem.GroupID)
                            <input data-dismiss="modal" value="@LanguageHelper.GetString("Modal.Button.Cancel")" class="btn btn-primary col-2" />
                            <input type="submit" value="@LanguageHelper.GetString("Modal.Button.Delete")" class="btn btn-danger col-2" />

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
    function GetTable() {
        $("#group-modal").modal('hide');
        toastr.success('@LanguageHelper.GetString("Model.Toastr.DeleteSuccess")', '@LanguageHelper.GetString("Model.Group")')
        $.ajax({
            url: '/Groups/Table',
            method: 'GET',
            success: function (data) {
                $('#dt-groups_table').html(data)
            },
            error: function (data) {
                $('#dt-groups_table').html("table error")
            },
        });
    };
    </script>
}
else
{
        <script>
        toastr.error('@LanguageHelper.GetString("Model.Toastr.NoGrant")', '@LanguageHelper.GetString("Model.Group")')
        </script>   
}