@model MIM.Models.Group
@{
    Layout = null;
    string modal_size = "modal"; // "modal-sm" "modal", "modal-lg" "modal-xl"
}
<div class="modal" id="group-modal">
    <div class="modal-dialog modal-dialog-centered @modal_size">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@LanguageHelper.GetString("Group.ModalTitle.Show")</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div><div class="container"></div>
            <div style="padding-bottom: 0px;" class="modal-body">
                <center>
                    <div class="row align-items-center">
                        <div style="width:50%">
                            @Html.LabelFor(model => model.Name, LanguageHelper.GetString("Group.Name"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                            <hr style="width:50%" />
                            @Html.DisplayFor(model => model.Name)
                        </div>
                        <div style="width:50%">
                            @Html.LabelFor(model => model.Description, LanguageHelper.GetString("Group.Description"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                            <hr style="width:50%" />
                            @Html.DisplayFor(model => model.Description)
                        </div>
                    </div>
                    <br />
                    <div style="width:50%">
                        @Html.LabelFor(model => model.Grants, LanguageHelper.GetString("Group.Grants"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                        <hr style="width:50%" />
                        @foreach (var item in Model.Grants)
                        {
                            <tr> <td>@item.Name</td> </tr>
                            <br />
                        }
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>
