@model MIM.Models.Department
@{ Layout = null;
    string modal_size = "modal"; // "modal-sm" "modal", "modal-lg" "modal-xl"
}

@if(ViewBag.grant) 
{ 
<div class="modal" id="department-modal">
    <div class="modal-dialog modal-dialog-centered @modal_size">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@LanguageHelper.GetString("Department.ModalTitle.Edit")</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div><div class="container"></div>
                  <div style="padding-bottom: 0px;" class="modal-body">
                      @using (Ajax.BeginForm("Edit", "Departments", new AjaxOptions { HttpMethod = "POST", OnSuccess = "GetTable()", OnFailure = "toastr.error('" + LanguageHelper.GetString("Model.Toastr.EditError") + "', '" + LanguageHelper.GetString("Model.Department") + "')" }))
                      {
                            @Html.AntiForgeryToken()

                            @Html.HiddenFor(model => model.DepartmentID)

                            <div class="form-group row align-items-center">
                                @Html.LabelFor(model => model.Name, @LanguageHelper.GetStringForModal("Department.Name"), htmlAttributes: new { @class = "control-label col-5 font-weight-bold  my-auto" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="form-group row align-items-center">
                                @Html.LabelFor(model => model.Description, @LanguageHelper.GetStringForModal("Department.Description"), htmlAttributes: new { @class = "control-label col-5 font-weight-bold  my-auto" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="form-group row align-items-center">
                                @Html.LabelFor(model => model.UserID, @LanguageHelper.GetStringForModal("Department.Manager"), htmlAttributes: new { @class = "control-label col-5 font-weight-bold  my-auto" })
                                <div class="col-7">
                                    @Html.DropDownListFor(model => model.UserID, null, @LanguageHelper.GetStringForModal("Dropdown.First"), htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="modal-footer">
                                <input data-dismiss="modal" value="@LanguageHelper.GetString("Modal.Button.Cancel")" class="btn btn-primary col-2" />
                                <input class="btn btn-success" type="submit" value="@LanguageHelper.GetString("Modal.Button.SaveChanges")" />
                            </div>}
                  </div>
        </div>
    </div>
</div>
<script>
        function GetTable() {
        $("#department-modal").modal('hide');
        toastr.success('@LanguageHelper.GetString("Model.Toastr.EditSuccess")', '@LanguageHelper.GetString("Model.Department")')
        $.ajax({
            url: '/Departments/Table',
        method: 'GET',
        success: function (data) {
            $('#dt-departments_table').html(data)
        },
        error: function (data) {
            $('#dt-departments_table').html("table error")
        },
        });
    };
</script>
}
else
{
    <script>
    toastr.error('@LanguageHelper.GetString("Model.Toastr.NoGrant")', '@LanguageHelper.GetString("Model.Department")')
    </script>
}