@model MIM.Models.User
@{
    Layout = null;
    ViewBag.Title = LanguageHelper.GetString("Model.Users");
    string modal_size = "modal-lg"; // "modal-sm" "modal", "modal-lg" "modal-xl"
}
<div class="modal" id="user-modal">
    <div class="modal-dialog modal-dialog-centered @modal_size">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@LanguageHelper.GetString("User.ModalTitle.Delete")</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div><div class="container"></div>
                  <div class="modal-body">
                      <dl class="dl-horizontal">
                          <dt>
                              @Html.DisplayNameFor(model => model.organization.name)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.organization.name)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.title.name)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.title.name)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.firstname)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.firstname)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.lastname)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.lastname)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.nickname)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.nickname)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.username)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.username)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.password)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.password)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.email)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.email)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.isActive)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.isActive)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.bornDate)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.bornDate)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.superAdmin)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.superAdmin)
                          </dd>

                      </dl>
                      @using (Html.BeginForm("Delete", "Users", FormMethod.Post, new { id = "userdelete" }))
                      {
                          @Html.AntiForgeryToken()

                          <div class="form-actions no-color">
                              @Html.HiddenFor(modelItem => modelItem.userID)
                              <input type="submit" value="@LanguageHelper.GetString("Modal.Button.Delete")" class="btn btn-danger col-1" />
                              <input type="cancel" id="user-modal-cancel" value="@LanguageHelper.GetString("Modal.Button.Cancel")" class="btn btn-primary col-1" />
                          </div>
                      }
                  </div>
        </div>
    </div>
</div>
<script>
    $("#user-modal-cancel").click(function (event) { $("#user-modal").modal('hide'); })
</script>
<script>
    $("#userdelete").submit(function (event) {
        event.preventDefault();
        $("#user-modal").modal('hide');
        var $form = $(this),
            url = $form.attr('action');

        var posting = $.post(url, {
            userID: $('#userID').val(),
            __RequestVerificationToken: $("input[name=__RequestVerificationToken]").val(),
        });

        posting.done(function (data) {
            $.ajax({
                url: '/Users/Table',
                method: 'GET',
                success: function (data) {
                    $('#dt-users_table').html(data)
                }
            });
        });

        posting.fail(function () {
            $('#result').text('failed');
        });
</script>
