@model MIM.Models.User
@{
    Layout = null;
    ViewBag.Title = LanguageHelper.GetString("Model.Users");
    string modal_size = "modal-lg"; // "modal-sm" "modal", "modal-lg" "modal-xl"
}
<div class="modal" id="user-modal">
    <div class="modal-dialog modal-dialog-centered @modal_size">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@LanguageHelper.GetString("User.ModalTitle.Delete")</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div><div class="container"></div>
            <div style="padding-bottom: 0px;" class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Firstname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Firstname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Lastname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Lastname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Nickname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nickname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Username)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Username)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BornDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BornDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SuperAdmin)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SuperAdmin)
                    </dd>

                </dl>
                @using (Ajax.BeginForm("Delete", "Users", new AjaxOptions { HttpMethod = "POST", OnSuccess = "GetTable()", OnFailure="toastr.error('Silme Başarısız', 'Kullanıcı')" }, new { id = "userdelete" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        @Html.HiddenFor(modelItem => modelItem.UserID)
                        <input type="submit" value="@LanguageHelper.GetString("Modal.Button.Delete")" class="btn btn-danger col-1" />
                        <input type="cancel" id="user-modal-cancel" value="@LanguageHelper.GetString("Modal.Button.Cancel")" class="btn btn-primary col-2" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $("#user-modal-cancel").click(function (event) { $("#user-modal").modal('hide'); })
</script>
</script>
<script>
    function GetTable() {
        $("#user-modal").modal('hide');
        toastr.success("Silme Başarılı", "Kullanıcı")
        $.ajax({
            url: '/Users/Table',
            method: 'GET',
            success: function (data) {
                $('#dt-users_table').html(data)
            },
            error: function (data) {
                $('#dt-users_table').html("table error")
            },
        });
    };
</script>