@model MIM.Models.User
@{
    Layout = null;
    string modal_size = "modal-lg"; // "modal-sm" "modal", "modal-lg" "modal-xl"
}
<div class="modal" id="user-modal">
    <div class="modal-dialog modal-dialog-centered @modal_size">
        <div class="modal-content">
            <div class="card card-custom">
                <div class="card-header card-header-tabs-line">
                    <div class="card-title">
                        <h3 class="card-label">@Model.fullname</h3>
                    </div>
                    <div class="card-toolbar">
                        <ul class="nav nav-tabs nav-bold nav-tabs-line">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1_2">Genel</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2_2">Ünvan</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_3_2">Departman</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_4_2">Grup</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="kt_tab_pane_1_2" role="tabpanel">
                            <center>
                                <div class="row items-align-center">
                                    <div style="width:33%">
                                        @Html.LabelFor(model => model.Firstname, @LanguageHelper.GetString("User.Firstname"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                                        <hr style="width:50%;"/>

                                        @Html.DisplayFor(model => model.Firstname)
                                    </div>
                                    <div style="width:33%">
                                        @Html.LabelFor(model => model.Lastname, @LanguageHelper.GetString("User.Lastname"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                                        <hr style="width:50%;"/>

                                        @Html.DisplayFor(model => model.Lastname)
                                    </div>
                                    <div style="width:33%">
                                        @Html.LabelFor(model => model.Nickname, @LanguageHelper.GetString("User.Nickname"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                                        <hr style="width:50%;" />

                                        @Html.DisplayFor(model => model.Nickname)
                                    </div>
                                </div>
                                <br />
                                <hr class="chr"/>
                                <br />
                                <div class="row items-align-center">
                                    <div style="width:33%">
                                        @Html.LabelFor(model => model.Username, @LanguageHelper.GetString("User.Username"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                                        <hr style="width:50%" />

                                        @Html.DisplayFor(model => model.Username)
                                    </div>
                                    <div style="width:33%">
                                        @Html.LabelFor(model => model.Password, @LanguageHelper.GetString("User.Password"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                                        <hr style="width:50%" />

                                        @Html.DisplayFor(model => model.Password)
                                    </div>
                                    <div style="width:33%">
                                        @Html.LabelFor(model => model.Email, @LanguageHelper.GetString("User.Email"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                                        <hr style="width:50%" />

                                        @Html.DisplayFor(model => model.Email)
                                    </div>
                                </div>
                                <br />
                                <hr class="chr"/>
                                <br />
                                <div class="row items-align-center">
                                    <div style="width:33%">
                                        @Html.LabelFor(model => model.BornDate, @LanguageHelper.GetString("User.BornDate"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                                        <hr style="width:50%" />

                                        @Html.DisplayFor(model => model.BornDate)
                                    </div>
                                    <div style="width:33%">
                                        @Html.LabelFor(model => model.IsActive, @LanguageHelper.GetString("User.isActive"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                                        <hr style="width:50%" />

                                        <label>
                                            @Html.CheckBoxFor(model => model.IsActive, new { id = "isActive", @checked = "checked" })
                                            <span></span>
                                        </label>
                                    </div>
                                    <div style="width:33%">
                                        @Html.LabelFor(model => model.SuperAdmin, @LanguageHelper.GetString("User.SuperAdmin"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                                        <hr style="width:50%" />

                                        <label>
                                            @Html.CheckBoxFor(model => model.SuperAdmin, new { id = "superAdmin", @checked = "checked" })
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </center>
                        </div>
                        <div class="tab-pane fade" id="kt_tab_pane_2_2" role="tabpanel">
                            <center>
                                <div class="row align-items-center">
                                    <div style="width:50%">
                                        @Html.LabelFor(model => model.Title.Name, LanguageHelper.GetString("Title.Name"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                                        <hr style="width:50%" />
                                        @Html.DisplayFor(model => model.Title.Name)
                                    </div>
                                    <div style="width:50%">
                                        @Html.LabelFor(model => model.Title.Description, LanguageHelper.GetString("Title.Description"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                                        <hr style="width:50%" />
                                        @Html.DisplayFor(model => model.Title.Description)
                                    </div>
                                </div>
                            </center>
                        </div>
                        <div class="tab-pane fade" id="kt_tab_pane_3_2" role="tabpanel">
                            <center>
                                <div class="row align-items-center">
                                    <div style="width:50%">
                                        @Html.LabelFor(model => model.Department.Name, LanguageHelper.GetString("Department.Name"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                                        <hr style="width:50%" />
                                        @Html.DisplayFor(model => model.Department.Name)
                                    </div>
                                    <div style="width:50%">
                                        @Html.LabelFor(model => model.Department.Description, LanguageHelper.GetString("Department.Description"), htmlAttributes: new { @class = "control-label font-weight-bold my-auto" })
                                        <hr style="width:50%" />
                                        @Html.DisplayFor(model => model.Department.Description)
                                    </div>
                                </div>
                            </center>
                        </div>
                        <div class="tab-pane fade" id="kt_tab_pane_4_2" role="tabpanel">
                            <center>
                                <div class="row align-items-center">
                                    <table class="table table-hover">
                                        <tr>
                                            <td>ID</td>
                                            <td>Name</td>
                                        </tr>
                                        @foreach (var item in Model.Groups)
                                        {
                                            <tr>
                                                <td>@item.GroupID</td>
                                                <td>@item.Name</td>
                                            </tr>
                                        }

                                    </table>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>