@model MIM.Models.User
@{
    Layout = null;
    string modal_size = "modal-lg"; // "modal-sm" "modal", "modal-lg" "modal-xl"   
}
<div class="modal" id="user-modal">
    <div class="modal-dialog modal-dialog-centered @modal_size">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@LanguageHelper.GetString("User.ModalTitle.Show")</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div><div class="container"></div>
                  <div style="padding-bottom: 0px;" class="modal-body">
                      <dl class="dl-horizontal">
                          <dt>
                              @Html.DisplayNameFor(model => model.Title.Name)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.Title.Name)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.Firstname)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.Firstname)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.Lastname)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.Lastname)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.Nickname)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.Nickname)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.Username)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.Username)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.Password)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.Password)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.Email)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.Email)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.IsActive)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.IsActive)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.BornDate)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.BornDate)
                          </dd>

                          <dt>
                              @Html.DisplayNameFor(model => model.SuperAdmin)
                          </dt>

                          <dd>
                              @Html.DisplayFor(model => model.SuperAdmin)
                          </dd>

                      </dl>
                  </div>
        </div>
    </div>
</div>
