@model IEnumerable<MIM.Models.User>

@{
    Layout = null;
}
<div id="users_list">
    <div class="table-responsive" style="overflow: inherit;">
        <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
            <thead>
                <tr class="text-center">
                    <th>
                        id
                    </th>
                    <th>
                        @LanguageHelper.GetString("User.OrganizationID")
                    </th>
                    <th>
                        @LanguageHelper.GetString("User.TitleID")
                    </th>
                    <th>
                        @LanguageHelper.GetString("User.Firstname")
                    </th>
                    <th>
                        @LanguageHelper.GetString("User.Lastname")
                    </th>
                    <th>
                        <div class="btn-toolbar-right mr-2" role="toolbar">
                            @LanguageHelper.GetString("Table.Action")
                        </div>
                    </th>
                </tr>
                <tr class="text-center">
                    <th style="width: 5%">@Html.TextBox("test2", "", new { @class = "form-control" })</th>
                    <th style="width: 20%">@Html.DropDownList("Organization", new SelectList((new MIMDBContext()).Organizations.ToList(), "OrganizationID", "name"), @LanguageHelper.GetString("Dropdown.First"), htmlAttributes: new { @class = "form-control" })</th>
                    <th style="width: 20%">@Html.DropDownList("Title", new SelectList((new MIMDBContext()).Titles.ToList(), "TitleID", "name"), @LanguageHelper.GetString("Dropdown.First"), htmlAttributes: new { @class = "form-control" })</th>
                    <th style="width: 20%">@Html.TextBox("test4", "", new { @class = "form-control" })</th>
                    <th style="width: 20%">@Html.TextBox("test5", "", new { @class = "form-control" })</th>
                    <th style="width: 15%">
                        <div class="btn-toolbar-right" role="toolbar">
                            <div class="btn-group mr-2" role="group">
                                <span data-controller="common" data-action="click->common#clear" class="btn btn-light-primary">@LanguageHelper.GetString("Table.SearchBar.Search")</span>
                                <span data-controller="common" data-action="click->common#clear" class="btn btn-light-warning">@LanguageHelper.GetString("Table.SearchBar.Clear")</span>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td onclick="EditModal(' @Html.DisplayFor(modelItem => item.userID) ')">
                            @Html.DisplayFor(modelItem => item.userID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.organization.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.title.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.firstname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.lastname)
                        </td>
                        <td style="width: 15%">
                            <a onclick="ShowModal( @Html.DisplayFor(modelItem => item.userID) )" class="btn btn-outline-secondary btn-icon" title="Göster">
                                <span><i class="flaticon2-expand"></i></span>
                            </a>
                            <a href="" onclick="EditModal( @Html.DisplayFor(modelItem => item.userID) )" data-remote="true" data-toggle="modal" data-target="#modal-window#{modal}" class="btn btn-outline-secondary btn-icon" title="Düzenle">
                                <i class="flaticon2-edit"></i>
                            </a>
                            <a href="" data-url="#{path}" class="btn btn-outline-secondary btn-icon delRow" title="Sil">
                                <i class="flaticon2-rubbish-bin"></i>
                            </a>                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


